/*pháº§n dear*/

.dear1 {
    position: relative;
    clear: both;
    background: black;
}

.dear1 .anh {
    position: absolute;
    z-index: 2;
    top: 44%;
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-right: 48px;
   
}

.dear1 .noidung {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: -99%;
    z-index: 2;
    font-size: 24px;
    color: white;
}

.dear1 .noidung .title-sm {
   font-family: 'SamsungSharpSans','SamsungOne',arial, arial;
   font-size: 27px;
   margin-bottom: -38px;
}

.dear1 .noidung .title {
    font-size: 49px;
    font-family: 'SamsungSharpSans','SamsungOne',arial, arial;
}

.dear1 .noidung .description {
    font-size: 19px;
    margin-top: -3%;
    font-family: 'SamsungSharpSans','SamsungOne',arial, arial;
}

.dear1 .noidung .title1 {
    font-family: 'SamsungOne',arial;  
    margin-bottom: 35%;      
}

.dear1 .noidung .title2 {
    font-family: 'SamsungOne',arial;
    font-size: 18px;
}

.dear1 .noidung .tilte3 {
    font-size: 18px;
}

/*dear2*/

.dear2 {
    background: black;
}

.dear2 .anh3 {
    margin-left: 19%;
    margin-top: 42%;
}

.dear2 .noidung {
   max-width: 840px;
   left: 0;
   right: 0;
   text-align: center;
   font-size: 20px;
   line-height: 30px;
   color: white;
   margin-left: 22%;
   padding-bottom: 50px;
}

.dear2 .noidung .title-sm {
}   

