.sm-container {
  max-width: 960px;
  margin: 0 auto;
}

/*header*/
.spec-title {
  text-align: center;
  font-size: 70px;
  margin-top: 100px;
  margin-bottom: 110px;
  font-family: "SamsungSharpSans","SamsungOne",arial;
}

.spec-section .title {
  font-size: 32px;
  color: #000;
  line-height: 36px;
  font-family: "SamsungSharpSans","SamsungOne",arial;
  margin-top: 0;
  margin-bottom: 19px;
}

.spec-section .body {
  border-top: 3px solid #000;
  padding-top: 20px;
  padding-bottom: 20px;
}

.spec-row {
  padding: 55px 0;
}

.spec-row + .spec-row {
  border-top: 1px solid #ccc;
}

.spec-row:after {
  content: '';
  display: table;
  clear: both;
}

.spec-row .left {
  width: 20%;
  float: left;
}

.spec-row .left .info-type {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  margin-top: 8px;
}

.spec-row .right .info-list {
  padding: 0;
  margin: 0;
}

.spec-row .right .info-list.horizontal {
  font-size: 0;
  text-align: left;
  width: 66.66%;
  display: inline-block;
}

.spec-row .right .info-list.horizontal .item {
  font-size: 16px;
  display: inline-block;
  width: 50%;
  margin-bottom: 45px;
  vertical-align: top;
  padding-left: 5px;
  padding-right: 5px;
}

.spec-row .right .info-list .item {
  list-style: none;
  margin-bottom: 45px;
  vertical-align: top;
  max-width: 300px;
}

.spec-row .right .info-list .item .name {
  color: #212428;
  font-weight: bold;
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
}

.spec-row .right .info-list .item .value {
  color: #212428;
  font-weight: normal;
  font-size: 16px;
}

.spec-row .right .sub-caption {
  font-size: 12px;
  color: #707070;
  padding-top: 15px;
}

.spec-row .right {
  width: 80%;
  float: right;
}

/* design */
.spec-design .wrap-image {

}

.spec-design .wrap-image .image {
  display: inline-block;
  width: 174px;
  margin-right: 35px;
}

.spec-design .wrap-image .image img {
  display: block;
}

.spec-design .wrap-image .caption {
  display: block;
  margin-top: 22px;
  margin-left: 56px;
  font-size: 17px;
}

.spec-row.duo-sim {
  padding-bottom: 0;
  border-bottom: 3px solid #000;
}

.spec-row.duo-sim  .btn-link {
  font-size: 17px;
  font-weight: bold;
  margin-top: 60px;
}

.duo-sim .right {
  text-align: right;
}

.duo-sim .right img {
  display: inline-block;
  margin-bottom: -4px;
}


/* support */
.spec-support .body {
  padding-top: 50px;
  padding-bottom: 70px;
}

.spec-support .right{
  text-align: right;
}

/*header2*/

.header2 {
  /* border-bottom: 3px solid black;  */
}

.header2 .dau .anh1 {
  margin-top: 35px;
  margin-left: 70%;
}