body {
  font-family: 'SamSung',arial;
  font-weight: 400;
}

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.main-navigation {
  background: #212425;
}

.navigation {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.navigation-item {
  display: inline-block;
}

.navigation-item a {
  display: block;
  color: #fff;
  height: 37px;
  line-height: 37px;
  font-size: 13px;
  text-decoration: none;
  padding: 0 12px;
  position: relative;
}

.navigation-item a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 12px;
  right: 12px;
  height: 3px;
  background: #00b3e3;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all .2s;
}

.navigation-item a:hover:after {
  opacity: 1;
  visibility: visible;
}