body {
  font-family: 'SamSung',arial;
  font-weight: 400;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.main-navigation {
  background: #212425;
}

.navigation {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.navigation-item {
  display: inline-block;
}

.navigation-item a {
  display: block;
  color: #fff;
  height: 37px;
  line-height: 37px;
  font-size: 13px;
  text-decoration: none;
  padding: 0 12px;
  position: relative;
}

.navigation-item a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 12px;
  right: 12px;
  height: 3px;
  background: #00b3e3;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all .2s;
}

.navigation-item a:hover:after {
  opacity: 1;
  visibility: visible;
}

/* Banner */
.banner {
  position: relative;
}

.banner .phone {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 225px;
  z-index: 1;
}

.banner .banner-title {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 84px;
  height: 84px;
  color: #fff;
  margin-top: -22px;
  line-height: 1.3;
  font-family: 'iCielSamsung';
  font-weight: 700;
  text-align: center;
}

.banner .btn-buy-now {
  background-color: #fff;
  color: #000;
  border-color: #fff;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 12px;
  letter-spacing: 2.1px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  position: absolute;
  bottom: 100px;
  right: 58px;
  text-decoration: none;
  border-radius: 50px;
}

.banner .banner-sub-title {
  font-weight: normal;
  position: absolute;
  text-align: right;
  font-family: 'iCielSamsung';
  color: #fff;
  letter-spacing: -0.01em;
  direction: ltr;
  top: 95px;
  right: 60px;
  font-size: 26px;
}