* {
  box-sizing: border-box;
}

body {
  font-family: 'SamSung',arial;
  font-weight: 400;
  font-size: 14px;
}

img {
  max-width: 100%;
}

.btn-primary {
  padding-left: 40px;
  padding-right: 40px;
  height: 50px;
  line-height: 50px;
  font-size: 12px;
  letter-spacing: 2.1px;
  font-weight: bold;
  transition: all .35s ease-in-out;
  display: inline-block;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  text-transform: uppercase;
  border-radius: 58px;
  box-sizing: border-box;
  color: #fff;
  border-color: #fff;
  text-decoration: none;
}

.btn-primary:hover {
  background-color: #fff;
  color: #000;
}

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.container:after {
  content: '';
  display: table;
  clear: both;
}

/* Main navigation */
.main-navigation {
  background: #212425;
}

.navigation {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.navigation-item {
  display: inline-block;
}

.navigation-item a {
  display: block;
  color: #fff;
  height: 37px;
  line-height: 37px;
  font-size: 13px;
  text-decoration: none;
  padding: 0 12px;
  position: relative;
}

.navigation-item a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 12px;
  right: 12px;
  height: 3px;
  background: #00b3e3;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all .2s;
}

.navigation-item a:hover:after {
  opacity: 1;
  visibility: visible;
}

/* Banner */
.banner {
  position: relative;
}

.banner .bg {
  display: block;
}

.banner .phone {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 225px;
  z-index: 1;
}

.banner .banner-title {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 84px;
  height: 84px;
  color: #fff;
  margin-top: -22px;
  line-height: 1.3;
  font-family: 'iCielSamsung';
  font-weight: 700;
  text-align: center;
}

.banner .btn-buy-now {
  background-color: #fff;
  color: #000;
  border-color: #fff;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 12px;
  letter-spacing: 2.1px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  position: absolute;
  bottom: 100px;
  right: 58px;
  text-decoration: none;
  border-radius: 50px;
}

.banner .banner-sub-title {
  font-weight: normal;
  position: absolute;
  text-align: right;
  font-family: 'iCielSamsung';
  color: #fff;
  letter-spacing: -0.01em;
  direction: ltr;
  top: 95px;
  right: 60px;
  font-size: 26px;
}

/* Header */
.clear {
  clear: both;
}

.header {
  background: black;
}

.header .logo {
  width: 50%;
  float: left;
}

.header .logo h2 {
  font-size: 20px;
  padding-left: 11px;
  margin-top: 13px;
  margin-bottom: 0;
  line-height: 20px;
}

.header .wrap-btn-buy-now {
  width: 50%;
  float: right;
  text-align: right;
}

.header .wrap-btn-buy-now .btn-buy-now {
  background: #0074c2;
  font-weight: bold;
  padding-bottom: 16px;
  padding-top: 16px;
  padding-left: 60px;
  padding-right: 60px;
  display: inline-block;
  color: white;
  text-decoration: none;
}

.header .logo h2 {
  color: white;
  font-size: 20px;
}

/* three video */
.three-video:after {
  content: '';
  display: table;
  clear: both;
}
.three-video .video {
  width: 33.333%;
  float: left;
  position: relative;
}

.three-video .video .bg {
  width: 100%;
  display: block;
}

.three-video .video .play {
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  top:50%;
  transform: translateY(-50%);
  text-align: center;
}

.three-video .video .play img {
  width: 70px;
  height: 70px;
}

.three-video .video .title {
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  z-index: 2;
  top: 20px;
  font-size: 20px;
  line-height: 28px;
  padding: 0 20px;
  color: #fff;
}

/*dear*/
.dear {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url('http://image.samsung.com/vn/smartphones/galaxy-note8/images/galaxy-note8_overview_kv_type1.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 765px;
}

.dear .bg {
  display: block;
}

.dear .anh {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  margin-right: 83px;
}

.dear .tieude {
  position: static;
}

.dear .tieude h1 {
  position: absolute;
  top: 20px;
  color: white;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 85px;
  margin-top: 20px;
}

.dear .note {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 25px;
  color: white;
}

/* Section screen  Man hinh vo cuc*/
.section-screen {
  background: #000;
  position: static;
  color: #fff;
  text-align: center;
  padding-bottom: 150px;
}

.section-landing .introduction {
  font-size: 28px;
  line-height: 36px;
  font-family: 'iCielSamsung';
  color: #fff;
  width: 810px;
  margin: 0 auto;
  padding: 150px 0 60px 0;
}

.section-landing .wrap-content {
  text-align: center;
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  color: #fff;
}

.section-landing .wrap-content .btn-primary {
  margin-top: 30px;
}

.section-landing .title-sm {
  font-size: 22px;
  line-height: 24px;
}

.section-landing .title {
  font-size: 56px;
  line-height: 64px;
  max-width: 750px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.section-landing .description {
  max-width: 840px;
  margin: 0 auto;
  margin: 25px auto 0;
  font-size: 20px;
  line-height: 30px;
}

.section-landing .info-list {
  text-align: center;
}

.section-landing .info-list .info-list-item {
  display: inline-block;
  padding: 0 30px;
}

.section-landing .info-list .info-list-item .top img {
  width: 50%;
}

.section-landing .list-description li {
  font-size: 16px;
  line-height: 22px;
  list-style: none;
}

.section-landing .wrap-image {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
  margin-top: 40px;
}

.section-landing .wrap-image img {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.section-landing .wrap-image .video {
  max-width: 100%;
}



/*header2 s-pen*/

.header2 {
  position: relative;
}

.header2 .nen {
  display: block;
}

.header2 .anh {
  position: absolute;
  z-index: 1;
  bottom: 213px;
  right: 260px;
}

.header2 .anhh {
  position: absolute;
  bottom: 280px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/*header3 Camera*/

.header3 {
  position: relative;
}

.header3 .nen {
  display: block;
}

.header3 .anh {
  position: absolute;
  bottom: 1px;
  height: 591px;
  z-index: 3;
  right: 47px;
}


/*header4 hieusuat*/

.header4  {
  position: relative;
}

.header4 .nen {
  display: block;
}

.header4 .anh {
  position: absolute;
  bottom: 200px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

<<<<<<< HEAD
/*header5 phone+*/

.header5 {
  position: relative;
  display: block;
  padding-bottom: 500px;
}

.section-landing .wrap-conten {
  text-align: center;
  top: 200px;
  left: 0;
  right: 0;
  color: black;
}

.section-landing .list-descriptio li {
  font-size: 16px;
  line-height: 22px;
  list-style: none;
}

.btn-primar {
  padding-left: 40px;
  padding-right: 40px;
  height: 50px;
  line-height: 50px;
  font-size: 12px;
  letter-spacing: 2.1px;
  font-weight: bold;
  transition: all .35s ease-in-out;
  display: inline-block;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  text-transform: uppercase;
  border-radius: 58px;
  box-sizing: border-box;
  color: black;
  border-color: black;
  text-decoration: none;
}

.header5 .anh1 {
  top: 250px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: relative;
  margin-left: 20%;
  margin-right: -14%;
}

.header5 .anh2 {
  top: 250px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: relative;
  margin-right: -9%;
}

.header5 .anh3 {
  top: 250px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: relative;
  margin-right: -6%;
  z-index: 1;
}

.header5 .anh4 {
  top: 250px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: relative;
}

/*header6 Smart Switch*/

.header6 {
  position: relative;
  display: block;
  bottom: 50px;
  text-align: center;
}

.header6 .anh {
  margin-top: 40px;
}

/* start: Footer */
.footer {
  border-top: 1px solid #d0d0d0;
  background: #f7f7f7;
  padding: 65px 0 46px;
}

.footer .container {
  max-width: 1191px;
  margin: 0 auto;
}

.footer .title {
  color: #363636;
  display: block;
  margin-top: 0;
  margin-bottom: 17px;
  font-size: 16px;
}

.footer .col {
  float: left;
}

.footer .col-menu {
  width: 50%;
  padding-bottom: 42px;
}

.footer .col-menu .list {
  float: left;
  width: 50%;
  padding-right: 40px;
}

.footer .col-support {
  width: 25%;
}

.footer .col-connect {
  width: 25%;
}

.footer .list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.footer .list .item {

}

.footer .list .item + .item {
  margin-top: 11px;
}

.footer .list .item a {
  color: #363636;
  text-decoration: none;
}
.footer .list .item a i {
  margin-right: 8px;
}

.footer .list .item a:hover {
  color: #1428a0;
}

.footer .copyright {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
}

.footer .social-list {
  padding-left: 0;
  margin-bottom: 0;
  margin-left: -10px;
}

.footer .social-list li {
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 5px;
}

.footer .social-list li a {
  display: block;
  width: 45px;
  height: 45px;
  font-size: 26px;
  font-weight: normal;
  background: #363636;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 47px;
}

.bottom-footer {
  padding: 23px 0 12px;
  background: #363636;
} 

.bottom-footer .container {
  max-width: 1191px;
  margin: 0 auto;
}

.gb-footer__list {
  padding-left: 0;
  margin-bottom: 0;
}

.gb-footer__item {
  display: inline-block;
  margin-right: 10px;
}

.gb-footer__item a {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

.bottom-footer .introduction {
  font-size: 12px;
  font-weight: normal;
  color: #a6a6a6;
  line-height: 1.75;
  word-break: break-word;
}
/* end: Footer */
