/*header*/

.clear {
    clear: both;
}
.header {
    background: black;

}

.header .logo {
    width: 50%;
    float: left;
}

.header .logo h2 {
    font-size: 20px;

}

.header .wrap-btn-buy-now {
    width: 50%;
    float: right;
    text-align: right;
   

}

.header .wrap-btn-buy-now .btn-buy-now {
    background: #0074c2;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    color: white;
   

}
.header .logo h2 {
    color: white;
    font-size: 20px;   
   
}

/*dear*/

.dear {
    position: relative;
 

   



}

.dear .anh {
    position:absolute;
    right: 59px;
    bottom: 89px;

}

.dear .tieude {
   
    
   position : static ;
   
    
    
    

}

.dear .tieude h1 {
    position: absolute;
    top: 20px;
    color: white;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 85px;
  

    
}

.dear .note {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 25px;
    color: white;

}

/*header2*/


.header2 {
    position: relative;

}

.header2 .nen {
    
}

.header2 .anh {
    position: absolute;
    z-index: 1;
    bottom : 213px;
    right: 260px;
    
    

}

.header2 .anhh {
    position: absolute;
    
    bottom : 280px; 
    left: 656px ;
  
   

}

.header2 .SPen h4 {
    position: absolute;
    bottom: 1921px;
    color: white;
    right :0;
    left: 0;
    text-align: center;
    font-size: 21px;


}

.header2 .butspen h1 {
    position: absolute;
    bottom: 1838px;
    color: white;
    right :0;
    left: 0;
    text-align: center;

}

.header2 .noidung h5 {
    position: absolute;
    bottom: 1768px;
    color: white;
    right :0;
    left: 0;
    text-align: center;


}

.header2 .noidung h6 {
    position: absolute;
    bottom: 1741px;
    color: white;
    right :0;
    left: 0;
    text-align: center;

}

